
// Global styling for prototyping

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  margin-top: 1rem;
}

// Section styling

section {
  padding: 8rem 0;
  height: auto;
}

.introduction {
  height: auto;
  position: relative;
  background: #F7F7F7;
  padding-top: 20rem;

  @media #{$large-up} {
    height: 100vh;
  }
}

.introduction__pointer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.dribbble-push,
.instagram-push {
  padding: 0;
}

.travel, .blog {
  background: #F7F7F7;
}

// Specifics

.blog__medium-push {
  margin-top: 5rem;
  
  ul {
    list-style-type: none;
  }
}

.platform-link {
  float: left;
  margin-top: 3rem;
}

.contact__media {
  margin: 0 auto;
}

.work__dirbbble-push__grid,
.travel__instagram-push__grid {
  li {
    padding: 0 !important;
  }
}