body, p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #5C5C5C;
}

a {
  font-size: 1.1rem;
}

// span, .handwritten {
//   font-family: "daniel";
//   font-weight: 700;
// }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: #5C5C5C;
}

h1, h2 {
  margin-bottom: 1.25rem;
}