body {
	text-align: center;
	background: #222222;
	color: #eaeaea;
	font-family: Nexa-Light, open-sans;
	font-size: 1em;
}

body ul, a {
	list-style: none;
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 0 15%;
	line-height: 1.5em;
	font-size: 0.9em;
	letter-spacing: 0.070em;
	-webkit-font-feature-settings: "swsh" on;
	-moz-font-feature-settings: "swsh" on;
}

img {
	 border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Nexa-XBold, open-sans;
	text-transform: uppercase;
}

#stupid_orange_line {
	background-color: #f8981d;
	width: 100%;
	position: fixed;
	top: 0;
	height: 5px;
}

.mobile {
	display: none;
}

.dekstop {
	display: block;
}

#message {
	margin-top: 1.5em;
	margin-bottom: 4em;
}

#works ul li, #social ul li {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	margin-top: 1.1em;
}

#works {
	text-align: right;
}

#social {
	text-align: left;
}

#contact {
	margin: 0 auto;
	margin-top: 1em;
	width: 100%;
}

#contact ul li {
	border: 1px #424242 solid;
	display: inline-block;
	margin-top: 2em;
	height: 4em;
	padding-top: 3em;
	font-size: 0.7em;
	color: #767676;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	-moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#contact ul li:hover {
	border: 1px #424242 solid;
	background: #424242;
	color: #eaeaea;
}

#contact ul li span {
	color: #eaeaea;
}

.phone {
	width: 49%;
}

.email {
	width: 49%;
}

#footer {
	margin-top: 0.2em;
	margin-bottom: 0;
}

#footer ul li {
	font-size: 0.7em;
	color: #767676;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 0.5em;
}

#footer ul li span {
	color: #eaeaea;
}

/* media queries */

/* iPad ------------- */

@media screen and (max-width: 1024px) and (orientation: portrait) {

p {
	padding: 0 15%;
	font-size: 1em;
}

img {
	width: 30%;
	margin: 0 auto;
	margin-bottom: 5em;
}

.mobile {
	display: block;
}

.dekstop {
	display: none;
}

#works ul li, #social ul li {
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	margin-top: 3em;
}

#works {
	text-align: center;
	width: 100%;
}

#social {
	text-align: center;
	width: 100%;
	margin-top: 3em;
}

#contact ul li {
	font-size: 0.9em;
}

.phone {
	width: 100%;
}

.email {
	width: 100%;
}

#footer {
	margin-top: 2em;
}

#footer ul li {
	font-size: 0.9em;
}

}

/* iPhone ------------- */

@media screen and (max-width: 568px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 { width: 100%; }

p {
	padding: 0 4%;
}

img {
	margin: 0 auto;
	margin-bottom: 5em;
	width: 50%;
}

.mobile {
	display: block;
}

.dekstop {
	display: none;
}

#message {
	margin-top: 2em;
}

#works ul li, #social ul li {
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	margin-top: 3em;
}

#works {
	text-align: center;
}

#social {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

#contact ul li {
	font-size: 0.9em;
}

.phone {
	width: 100%;
}

.email {
	width: 100%;
}

#footer ul li {
	font-size: 0.9em;
	margin-bottom: 2em;
	line-height: 1.5em;
}

}